#tarta_de_manzana {

    height: 600px;
    width: 100%;
    background-image: url("../images/apple-pie.jpg");
    background-size: cover;
    background-position: 50%;
    font-size: 50px;
    color: white;
    text-align: center;
    line-height: 600px;

}



.ram {

    margin: 100px;




}

.parrafo {

    text-align: center;
    font-size: 40px;
    font-family: sans-serif;

}


.tarta {


    text-align: center;




}